@page "/"
@using MudBlazor
@inherits LayoutComponentBase


<MudLayout>

	@if (this.darkModeActive)
	{
		<MudImage Src="images/BanniereDark.png" style="width: 100%; height: auto; object-fit: cover; padding: 0; margin: 0;" />
	}
	else
	{
		<MudImage Src="images/BanniereLight.png" style="width: 100%; height: auto; object-fit: cover; padding: 0; margin: 0;" />
	}

	

	<div style="display: flex; justify-content: center; align-items: center;">
		<MudGrid style="width:50%; align-items: end; margin-top:5%" Justify="Justify.SpaceAround">

			<MudItem>
				<MudAutocomplete T="string" Label="Depart" @bind-Value="value2" SearchFunc="@Search2"
								 ResetValueOnEmptyText="@resetValueOnEmptyText"
								 CoerceText="@coerceText" CoerceValue="@coerceValue"
								 AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary" />
			</MudItem>
			<MudItem>
				<MudAutocomplete T="string" Label="Destination" @bind-Value="value2" SearchFunc="@Search2"
								 ResetValueOnEmptyText="@resetValueOnEmptyText"
								 CoerceText="@coerceText" CoerceValue="@coerceValue"
								 AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary" />
			</MudItem>

			<MudItem>
				<MudDatePicker @bind-Date="date" />
			</MudItem>

			<MudItem>
				<MudIconButton Icon="@Icons.Material.Filled.Boy" Color="Color.Primary"> </MudIconButton>
				<MudNumericField @bind-Value="IntValue" Min="1" Max="10" Style="width:3em" Icon="@Icons.Material.Filled.Boy" Color="Color.Primary" />
			</MudItem>

			<MudItem>
				<MudButton Variant="Variant.Filled" Color="Color.Primary">Rechercher</MudButton>

			</MudItem>

		</MudGrid>
	</div>



	<MudGrid Justify="Justify.Center" Style="margin-top:5%">
		<MudItem xs="5" style="display: flex; justify-content: center; align-items: center;">
			@if (this.darkModeActive)
			{
				<MudImage Src="images/VoitureFaceDark.png" Style="width:80%" />
			}
			else
			{
				<MudImage Src="images/VoitureFaceLight.png" Style="width:80%" />
			}
		</MudItem>
		<MudItem xs="4" style=" justify-content: center; align-items: center;">
			<MudText Typo="Typo.h4" Color="Color.Primary">
				Bénéficiez d’une Prime Covoiturage de 20 € avec Simone !
			</MudText>
			<MudText Typo="Typo.body1" Color="Color.Tertiary">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac suscipit elit. Aliquam erat volutpat. Maecenas at tortor non libero congue consectetur. Maecenas ut quam nec nunc feugiat lacinia. Sed non ligula quis enim dictum vehicula. Sed nec sapien at nisi accumsan tempor. Nullam ut purus nec ipsum lacinia fermentum.
			</MudText>
		</MudItem>
	</MudGrid>
	<MudGrid Justify="Justify.Center" Style="margin-top:5%">
		<MudItem xs="4" style=" justify-content: center; align-items: center;">

			<MudText Typo="Typo.h4" Color="Color.Primary">
				Recevez 5 € de bienvenue !
			</MudText>
			<MudText Typo="Typo.body1" Color="Color.Tertiary">
				Suspendisse potenti. Ut auctor arcu nec augue luctus, in fringilla nisl fermentum. Nullam nec enim dapibus, tincidunt ligula eget, suscipit elit. Maecenas at tortor non libero congue consectetur. Maecenas ut quam nec nunc feugiat lacinia.
			</MudText>
		</MudItem>
		<MudItem xs="5" style="display: flex; justify-content: center; align-items: center;">

			@if (this.darkModeActive)
			{
				<MudImage Src="images/VoitureProfilDark.png" Style="width:80%" />
			}
			else
			{
				<MudImage Src="images/VoitureProfilLight.png" Style="width:80%" />
			}
		</MudItem>
	</MudGrid>


</MudLayout>


@code {
	[CascadingParameter]
	protected bool darkModeActive { get; set; }

	public int IntValue { get; set; }
	DateTime? date = DateTime.Today;
	private bool resetValueOnEmptyText;
	private bool coerceText;
	private bool coerceValue;
	private string value1, value2;
	private string[] states =
	{
		"Alabama", "Alaska", "American Samoa", "Arizona",
		"Arkansas", "California", "Colorado", "Connecticut",
		"Delaware", "District of Columbia", "Federated States of Micronesia",
		"Florida", "Georgia", "Guam", "Hawaii", "Idaho",
		"Illinois", "Indiana", "Iowa", "Kansas"
	};



	bool _drawerOpen = true;


	private async Task<IEnumerable<string>> Search1(string value)
	{
		await Task.Delay(5);

		if (string.IsNullOrEmpty(value))
			return states;
		return states.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
	}

	private async Task<IEnumerable<string>> Search2(string value)
	{
		await Task.Delay(5);

		if (string.IsNullOrEmpty(value))
			return new string[0];
		return states.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
	}
}