@page "/"
@using MudBlazor
@using System.Text;
@using System.Web;
@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject IGooglePlacesService _googlePlacesService
@inject NavigationManager NavigationManager

<MudLayout>

	@if (this.darkModeActive)
	{
		<MudImage Src="images/BanniereDark.png" style="width: 100%; height: auto; object-fit: cover; padding: 0; margin: 0;" />
	}
	else
	{
		<MudImage Src="images/BanniereLight.png" style="width: 100%; height: auto; object-fit: cover; padding: 0; margin: 0;" />
	}

 

	<MudPaper Elevation="0" Width="75%" MaxWidth="inherit" Style="margin-top: 50px">
		<MudForm @ref="searchForm" @bind-IsValid="@searchFormIsValid">
			<MudGrid Spacing="0" Justify="Justify.SpaceAround" Class="gap-4 m-2">
				@* <MudTextField T="string" data-google-autocomplete="true" data-value-field="city_from_selectedValue" Placeholder="Ville de départ" Adornment="Adornment.Start" AdornmentColor="Color.Primary" AdornmentIcon="@Icons.Material.Filled.Start" />
				<div style="display: block">
					<MudTextField T="string" @bind-Value="criteraStartElements" Class="city_from_selectedValue" />
				</div>
				<MudTextField T="string" data-google-autocomplete="true" data-value-field="city_to_selectedValue" Placeholder="Ville d'arrivée" Adornment="Adornment.Start" AdornmentColor="Color.Primary" AdornmentIcon="@Icons.Material.Filled.KeyboardTab" />
				<div style="display: block"><MudTextField T="string" @bind-Value="criteraEndElements" Class="city_to_selectedValue" /></div> *@

				<MudGooglePlacesAutocomplete T="string"
											 Placeholder="Ville de départ"
											 OnPlaceChanged="StartChanged"
											 Adornment="Adornment.Start"
											 AdornmentIcon="@Icons.Material.Filled.Start"
											 ApiKey="AIzaSyDfY1D6Gea4uKJ51ppPxwQsyxcjj3An98E" />

				<MudGooglePlacesAutocomplete T="string"
											 Placeholder="Ville d'arrivée"
											 OnPlaceChanged="EndChanged"
											 Adornment="Adornment.Start"
											 AdornmentIcon="@Icons.Material.Filled.KeyboardTab"
											 ApiKey="AIzaSyDfY1D6Gea4uKJ51ppPxwQsyxcjj3An98E" />

				<MudDatePicker @bind-Date="criteriaDeparture" MinDate="DateTime.Today" />
				<MudNumericField @bind-Value="criteriaSeats" style="width: 100px" Min="1" Max="5" Adornment="Adornment.Start" AdornmentColor="Color.Primary" AdornmentIcon="@Icons.Material.Filled.AirlineSeatReclineNormal" Color="Color.Primary" />
				<MudButton Variant="Variant.Filled" OnClick="SearchRides" Color="Color.Primary">Rechercher</MudButton>
			</MudGrid>
		</MudForm>
	</MudPaper>

	<MudGrid Spacing="0" Justify="Justify.Center" Style="margin-top:5%">
		<MudItem xs="5" style="display: flex; justify-content: center; align-items: center;">
			@if (this.darkModeActive)
			{
				<MudImage Src="images/VoitureFaceDark.png" Style="width:80%" />
			}
			else
			{
				<MudImage Src="images/VoitureFaceLight.png" Style="width:80%" />
			}
		</MudItem>
		<MudItem xs="4" style=" justify-content: center; align-items: center;">
			<MudText Typo="Typo.h4" Color="Color.Primary">
				Bénéficiez d’une Prime Covoiturage de 20 € avec Simone !
			</MudText>
			<MudText Typo="Typo.body1" Color="Color.Dark" Style="margin-top:2em">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac suscipit elit. Aliquam erat volutpat. Maecenas at tortor non libero congue consectetur. Maecenas ut quam nec nunc feugiat lacinia. Sed non ligula quis enim dictum vehicula. Sed nec sapien at nisi accumsan tempor. Nullam ut purus nec ipsum lacinia fermentum.
			</MudText>
			<div style="display: flex; justify-content: center; align-items: center; margin-top:2em">
				<MudButton Variant="Variant.Filled" Color="Color.Primary">En Savoir plus</MudButton>
			</div>
		</MudItem>
	</MudGrid>
	<MudGrid Spacing="0" Justify="Justify.Center" Style="margin-top:5%">
		<MudItem xs="4" style=" justify-content: center; align-items: center;">

			<MudText Typo="Typo.h4" Color="Color.Primary">
				Recevez 5 € de bienvenue !
			</MudText>
			<MudText Typo="Typo.body1" Color="Color.Dark" Style="margin-top:2em">
				Suspendisse potenti. Ut auctor arcu nec augue luctus, in fringilla nisl fermentum. Nullam nec enim dapibus, tincidunt ligula eget, suscipit elit. Maecenas at tortor non libero congue consectetur. Maecenas ut quam nec nunc feugiat lacinia.
			</MudText>
			<div style="display: flex; justify-content: center; align-items: center;margin-top:2em">
				<MudButton Variant="Variant.Filled" Color="Color.Primary">En Savoir plus</MudButton>
			</div>
		</MudItem>
		<MudItem xs="5" style="display: flex; justify-content: center; align-items: center;">

			@if (this.darkModeActive)
			{
				<MudImage Src="images/VoitureProfilDark.png" Style="width:80%" />
			}
			else
			{
				<MudImage Src="images/VoitureProfilLight.png" Style="width:80%" />
			}
		</MudItem>
	</MudGrid>


</MudLayout>


@code {
	[CascadingParameter]
	protected bool darkModeActive { get; set; }

	private MudForm searchForm;
	private bool searchFormIsValid = false;

	private string _text;

	private GooglePlace criteraStart = null;
	private GooglePlace criteraEnd = null;
	private DateTime? criteriaDeparture = DateTime.Today.AddDays(1);
	private int criteriaSeats = 1;

	// protected override async Task OnAfterRenderAsync(bool firstRender)
	// {
	// 	await JS.InvokeVoidAsync("initAutocomplete");
	// }

	private void StartChanged(GooglePlace place)
	{
		criteraStart = place;
	}

	private void EndChanged(GooglePlace place)
	{
		criteraEnd = place;
	}

	private async void SearchRides()
	{
		await searchForm.Validate();
		if (searchForm.IsValid && criteraStart != null)
		{
			string criteriaStartCity = criteraStart.AddressComponents[0].ShortName;

			StringBuilder url = new StringBuilder();
			url.Append("/journeylists");
			url.Append("/start/" + HttpUtility.UrlEncode(criteriaStartCity));

			if (criteraEnd != null)
			{
				string criteriaEndCity = criteraEnd.AddressComponents[0].ShortName;
				url.Append("/end/" + HttpUtility.UrlEncode(criteriaEndCity));
			}

			url.Append("/seats/" + criteriaSeats);
			url.Append("/departure/" + criteriaDeparture.Value.ToString("yyyy-MM-dd"));
			NavigationManager.NavigateTo(url.ToString());
		}
	}
}