@page "/profilbyid/{newId}"
@page "/profilbyid"
@using MudBlazor
@using EVS.Core.Models;
@inject HttpClient httpClient
@using System.Net.Http.Json
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager


@if (user == null)
{
	<div style="width: 100%; margin: 50px; text-align: center">
		<MudProgressCircular Color="Color.Default" Indeterminate="true" />
	</div>
}
else
{
	<MudGrid Spacing="0" Style="margin-top:2em">
		<MudItem xs="3" Class="d-flex justify-center">
			<MudImage Src="@user.Photo" Alt="Gerard" ObjectPosition="ObjectPosition.Center" Class="rounded-lg" Width="150"></MudImage>
		</MudItem>
		<MudItem xs="9">
			<MudText Typo="Typo.h2 " Align="Align.Justify" Style="margin-left:2em">@user.FirstName @user.LastName.ToUpper()</MudText>
		</MudItem>
	</MudGrid>

	<MudGrid Spacing="0" Style=" margin-top:2em">
		<MudItem xs="3" Class="d-flex justify-center">
			<MudPaper Class="pa-8 ma-1 mud-theme-primary">
				<MudItem Style="margin-top:3em" Class="d-flex justify-center ">
					<MudAvatar Class="mud-theme-primary" Size="Size.Medium" Title="@(user.AcceptSmoker ? "Accepte les fumeurs" : "Refuse les fumeurs")" Image="@(user.AcceptSmoker ? "Images/Icone/tsmokeyes.png" : "Images/Icone/tsmokeno.png")"></MudAvatar>
					<MudAvatar Class="mud-theme-primary" Size="Size.Medium" Title="@(user.AcceptFood ? "On peut manger à bord" : "Refuse qu'on mange à bord'")" Image="@(user.AcceptFood ? "Images/Icone/tfoodyes.png" : "Images/Icone/tfoodno.png")"></MudAvatar>
					<MudAvatar Class="mud-theme-primary" Size="Size.Medium" Title="@(user.AcceptMusic ? "Ecoute de la musique" : "N'écoute pas de musique'")" Image="@(user.AcceptMusic ? "Images/Icone/tmusicyes.png" : "Images/Icone/tmusicno.png")"></MudAvatar>
					<MudAvatar Class="mud-theme-primary" Size="Size.Medium" Title="@(user.AcceptPet ? "Accepte les animaux de compagnie" : "Refuse les animaux de compagnie")" Image="@(user.AcceptPet ? "Images/Icone/tdogyes.png" : "Images/Icone/tdogno.png")"></MudAvatar>
					<MudAvatar Class="mud-theme-primary" Size="Size.Medium" Title="@(user.AcceptSmallTalk ? "Aime discuter" : "Préfère le calme")" Image="@(user.AcceptSmallTalk ? "Images/Icone/tchatyes.png" : "Images/Icone/tchatno.png")"></MudAvatar>
				</MudItem>
				@if (user.Rating > 0)
				{
					<MudItem Style="margin-top:3em" Class="d-flex justify-center">
						<MudRating Size="Size.Medium" SelectedValue="@user.Rating" title="@("Noté(e) " + @user.Rating + "/5 par vos passagers")" ReadOnly="true" />
					</MudItem>
					<MudItem Style="margin-top:3em; text-align: center">
						<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@ToggleOpen">Avis de mes passagers</MudButton>
					</MudItem>
				}
			</MudPaper>
		</MudItem>
		<MudItem xs="5" Class="d-flex justify-center">
			<MudPaper Class="pa-8 ma-1">
				<MudText Typo="Typo.h4">Informations détaillées</MudText>
				<MudText Typo="Typo.h6">Prenom et Nom</MudText>
				<MudText Typo="Typo.subtitle1">@user.FirstName @user.LastName.ToUpper()</MudText>
				<MudText Typo="Typo.h6">Date de naissance</MudText>
				<MudText Typo="Typo.subtitle1">@user.Birthday.Value.ToString("dd/MM/yyyy")</MudText>
				<MudText Typo="Typo.h6">Numéro de téléphone</MudText>
				<MudText Typo="Typo.subtitle1">@user.PhoneNumber</MudText>
				<MudText Typo="Typo.h6">Description de votre voiture</MudText>
				<MudText Typo="Typo.subtitle1">
					@if (String.IsNullOrWhiteSpace(user.CarDescription))
					{
						<small><i>Vous n'avez pas encore décrit votre voiture</i></small>
					}
					else
					{
						@user.CarDescription
					}
				</MudText>
			</MudPaper>
		</MudItem>
		<MudItem xs="4" Class="d-flex justify-center">
			<MudPaper Class="pa-8 ma-1">
				<MudText Typo="Typo.h4">Mes trajets</MudText><MudLink Href="/journeyproposal">
					<small><i>Vous n'avez pas encore proposé de trajet, pourquoi ne pas commencer maintenant ?</i></small>
				</MudLink>
			</MudPaper>
		</MudItem>
	</MudGrid>
}

<MudPopover Open="@_isOpen" Fixed="true" Class="px-4 pt-4" RowsPerPage="2" AnchorOrigin="Origin.CenterCenter" TransformOrigin="Origin.CenterCenter">
	<MudTable @ref="@_table" Items="@_feedbacks" RowsPerPage="2" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info">
		<HeaderContent>
			<MudTh>Note</MudTh>
			<MudTh>Commentaires</MudTh>
		</HeaderContent>
		<RowTemplate>
			<MudTd DataLabel="Note">@context.Note /5</MudTd>
			<MudTd DataLabel="Comments">@context.Comments</MudTd>
		</RowTemplate>
		<PagerContent>
			<MudPagination SelectedChanged="PageChanged" Count="@((_table.GetFilteredItemsCount() + _table.RowsPerPage - 1) / _table.RowsPerPage)" Class="pa-4" />
		</PagerContent>
	</MudTable>
</MudPopover>


@code {
	[Parameter]
	public string newId { get; set; }

	private User user = null;

	private MudTable<Feedback> _table;
	private IEnumerable<Feedback> _feedbacks = new List<Feedback>();

	protected override async Task OnInitializedAsync()
	{
		_feedbacks = await httpClient.GetFromJsonAsync<List<Feedback>>("/feedbacks/ride/67a94c3d-f0d2-483a-ac9b-d140c5d28cd8");

		user = await httpClient.GetFromJsonAsync<User>("/user/" + newId);
	}

	private void PageChanged(int i)
	{
		_table.NavigateTo(i - 1);
	}


	bool _isOpen;

	public void ToggleOpen()
	{
		if (_isOpen)
			_isOpen = false;
		else
			_isOpen = true;
	}
}