@using MudBlazor
@using Microsoft.JSInterop
@inherits LayoutComponentBase

<MudThemeProvider Theme="@this.CurrentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Color="Color.Primary" style="color: white" Size="Size.Large">
        <MudLink Href="/" style="height: 100%">
            <MudImage Src="images/logoERS.svg" Alt="Simone" style="height: 100%" />
        </MudLink>

        <MudSpacer />

        <MudButton Href="/journeyproposal" StartIcon="@Icons.Material.Filled.AddCircleOutline" Class="white-text" Size="Size.Large">Proposer un voyage</MudButton>

        <MudButton Href="/profil" StartIcon="@Icons.Material.Filled.DirectionsCar" Class="white-text" Size="Size.Large">Mon profil</MudButton>

        <MudMenu StartIcon="@Icons.Material.Filled.AccountCircle" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Color="Color.Inherit" Size="Size.Large">
            <MudMenuItem Href="/connection" style="color:#3b8382"> Se connecter</MudMenuItem>
            <MudMenuItem Href="/profilcreation" style="color:#3b8382">Créer un compte</MudMenuItem>
        </MudMenu>
    </MudAppBar>


    <CascadingValue Value="darkModeActive">
        <MudMainContent>
            @Body
        </MudMainContent>
    </CascadingValue>

    <footer>

           <MudGrid Spacing="0" Class="mud-theme-primary" Style="margin-top: 5em; padding: 2em 5em 0 5em">

                <MudItem sm="4">
                    <MudText Typo="Typo.h5" Style="margin-bottom: 1em;">Voyagez avec nous</MudText>


                <MudSwitch @bind-Value="@this.darkModeActive" Color="Color.Secondary" T="bool" Label="Mode sombre" onclick="@ToggleDarkMode" />
                 

                </MudItem>
                <MudItem sm="4">
                <MudText Typo="Typo.h5" Style="margin-bottom: 1em;">Covoiturage</MudText>


                </MudItem>
                <MudItem sm="4">
                <p>   <MudText Typo="Typo.h5" Style="margin-bottom: 1em;">En savoir plus</MudText></p>
                    <p>
                        <MudLink Href="sudo apt-get install -y dotnet-runtime-8.0" Class="white-text">En savoir plus</MudLink>
                    </p>
                    <p>  <MudLink Href="https://www.youtube.com/watch?v=DFseXGy79OE" Class="white-text">Comment ça marche</MudLink></p>
                    <p>  <MudLink Href="https://perdu.com/" Class="white-text">Vous êtes-vous perdu en chemin?</MudLink></p>
                    <p>  <MudLink Href="https://fr.wikihow.com/demander-de-l%27aide" Class="white-text">Centre d'aide</MudLink></p>
                    <p>  <MudLink Href="https://www.youtube.com/watch?v=H9DDjyxa8GU" Class="white-text">Presse</MudLink></p>
                    <p>
                        <MudIconButton Href="https://facebook.com/blablacar.fr" Icon="@Icons.Custom.Brands.Facebook" Color="Color.Tertiary" Size="Size.Large"></MudIconButton>
                        <MudIconButton Href="https://www.linkedin.com/in/alexandre-lin%C3%A9-6b440b298/" Icon="@Icons.Custom.Brands.LinkedIn" Color="Color.Tertiary" Size="Size.Large"></MudIconButton>
                        <MudIconButton Href="https://github.com/AlexEnCode" Icon="@Icons.Custom.Brands.GitHub" Color="Color.Tertiary" Size="Size.Large"></MudIconButton>
                         
                    </p>
                </MudItem>
            </MudGrid>


        <MudAppBar Bottom="true" Fixed="false" Color="Color.Info">
            <MudButton Variant="Variant.Text">
                <p>
                    <audio id="sound" src="/Sounds/Klaxon.mp3" />
                    <button onclick="document.getElementById('sound').play()"> <img src="/Volant.png" style="height:35px" /></button>
                </p>
                Transparence des plateformes
            </MudButton>
            <MudButton Variant="Variant.Text">Informations légales </MudButton>
            <MudButton Variant="Variant.Text">Paramètres des cookies</MudButton>
            <MudSpacer />
            @if (this.darkModeActive)
            {
                <MudImage Src="images/logoERS.svg" Alt="Simone" style="height: 100%" />
            }
            else
            {
                <MudImage Src="images/logoEVSalt.svg" Alt="Simone" style="height: 100%" />
            }
        </MudAppBar>

 
    </footer>
</MudLayout>


@code {


    private bool darkModeActive = false;

    private MudTheme CurrentTheme = DefaultTheme;


    public void ToggleDarkMode()
    {
        this.darkModeActive = !this.darkModeActive;
        this.CurrentTheme = this.darkModeActive ? darkTheme : DefaultTheme;
    }


    private static MudTheme DefaultTheme = new()
        {
            Palette = new PaletteLight
            {
                Primary = "#3b8382", //vert
                Secondary = "#CC755E", // Rouge
                Tertiary = "#ffffff", // Blanc
                Info = "#ffffff",
                Dark = "#000000", // noir
                Background = "#ffffff", // blanc
                Surface = "#ffffff", // Blanc
                TextPrimary = "#000000", // noir
           
            }
        };
    private static MudTheme darkTheme = new()
        {
            Palette = new Palette
            {
                Primary = "#445A6E", //Bleu
                Secondary = "#FEE97E", // Jaune
                Tertiary = "#929292", // gris
                Dark = "#ffffff", // Blacnc
                Black = "#FEE97E", //jaune
                Info = "1B2C3C",
                Background = "#1B2C3C", // gris
                               BackgroundGrey = "#1B2C3C", // gris
                Surface = "#263849", // bleu nuit
                TextPrimary = "#ffffff"
            }
        };
}

